= form_for @collection, :role => 'form', :html => {:class => 'form-horizontal'} do |f|
  - if @collection.errors.any?
    #error_explanation
      %h2= "#{pluralize(@collection.errors.count, "error")} prohibited this collection from being saved:"
      %ul
        - @collection.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .col-sm-7
      = f.label :name, :class => 'sr-only'
      = f.text_field :name, class: 'form-control', :placeholder => 'Collection name', autofocus: true
      
  .form-group
    .col-sm-7
      = f.label :description, :class => 'sr-only'
      = f.text_area :description, class: 'form-control', style: 'height:200px;'
      
  -# .form-group
  -#   .col-sm-7
  -#     Visibility:
  -#     = f.label :scope, :class => 'sr-only'
  -#     = f.select :scope, options_for_select(Scope.options_hash, @collection.scope), :class => 'form-control'
      
  - if action_name == 'edit'
    .form-group
      .col-sm-7
        State:
        = f.label :state, :class => 'sr-only'
        = f.select :state, options_for_select([['active', 'active'], ['inactive', 'inactive']], @collection.state), :class => 'form-control'
        
  .form-group
    .col-sm-7
      = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }