%p#notice= notice

%p
  %b Name:
  = @collection.name
%p
  %b Description:
  = @collection.description
%p
  %b State:
  = @collection.state

  %br
  %h3
    Documents
  
.clearfix

.col-sm-8
  %br
  %table.table.table-hover
    - if @collection.documents.present?
      - @collection.documents.each do |document|
        = render :partial => 'documents/document', :locals => {:resource => document}
    - else
      %li
        None, yet.
