.row.top
  .col-md-12

    .small
      Collection
    %h2{style: 'margin-top: 5px;'}
      = sanitize(@collection.name)

    .small
      Created on #{@collection.created_at.strftime("%b %-d, %Y")}
      by
      = link_to @collection.user.name, people_path(@collection.user.id, @collection.user.name.parameterize)

      - if signed_in?
        
        - if @collection.user == current_user
          &nbsp;&nbsp;&#183;&nbsp;&nbsp;

          = link_to 'edit', edit_collection_path(@collection)
          &nbsp;&nbsp;&#183;&nbsp;&nbsp;
          
          = link_to 'delete', collection_path(@collection), method: :delete, data: { confirm: "You're sure? Can't be undone."}

      %div{ style: 'margin: 10px 0 20px 0px; padding: 0;'}
        - if signed_in?

          - if @collection.user == current_user
            = link_to "<span class='tip glyphicon glyphicon-plus'></span> &nbsp;add #{atomic_unit}".html_safe, new_document_path(collection_id: @collection.id), class: 'btn btn-xs btn-default btn-follow', style: 'font-weight: 400;'
        
        
        - if signed_in?
          - unless @collection && @collection.user == current_user
            #{like_link(model: @collection)} &nbsp; #{follow_link(model: @collection)} &nbsp;
        - else
          #{like_link(model: @collection)} &nbsp; #{follow_link(model: @collection)} &nbsp;


        %div{ style: 'margin: 10px 0 20px 0;'}
      = sanitize(@collection.description)

-# = render partial: 'documents/tiles', locals: {documents: @collection.documents}
= render partial: 'documents/tiles', locals: {collectibles: @collection.collectibles}

.row
  .col-md-12#comments
    %h4{ style: 'margin: 10px;'}
      %b
        Comments
    = render partial: '/comments/show', locals: { :resource => @collection }