= form_for @authentication do |f|
  - if @authentication.errors.any?
    #error_explanation
      %h2= "#{pluralize(@authentication.errors.count, "error")} prohibited this authentication from being saved:"
      %ul
        - @authentication.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :provider
    = f.text_field :provider
  .field
    = f.label :uid
    = f.text_field :uid
  -# .field
  -#   = f.label :access_token
  -#   = f.text_field :access_token
  -# .field
  -#   = f.label :access_token_secret
  -#   = f.text_field :access_token_secret
  -# .field
  -#   = f.label :access_token_expires_at
  -#   = f.datetime_select :access_token_expires_at
  .field
    = f.label :state
    = f.text_field :state
  .actions
    = f.submit 'Save'
