- if @user

  %h3
    Please select a username and provide an email

  = form_for(@user, as: 'user', role: 'form', url: finish_signup_path(@user), html: { class: 'form-horizontal' }) do |f|
    
    - if @show_errors && current_user.errors.any?
      #error_explanation
        - current_user.errors.full_messages.each do |msg|
          = msg
          %br

    %hr
    
    .form-group
      .col-sm-7
        = f.label :username, :class => 'sr-only'
        = f.text_field :username, :autofocus => true, required: true, :value => '', class: 'form-control', placeholder: "Select a username"

    .form-group
      .col-sm-7
        = f.label :email, :class => 'sr-only'
        = f.text_field :email, required: true, :value => '', class: 'form-control', placeholder: "Your email"
    
    .form-group
      .col-sm-7
        = f.submit 'Continue', :class => 'btn btn-primary', data: { disable_with: 'Continuing...' }

- else

  %div
    Please click the link in the confirmation email you were sent, or
    %b
      = link_to 'request a new one.'