.row
  .col-md-8
    %table
      %tr
        %td.image-cell
          = image_tag @user.image_url
        %td
          %h1{:style => 'margin-bottom: 5px;'}
            = sanitize(@user.name)
            &nbsp;
            - if signed_in? && @user != current_user
              = follow_link( model: @user )

          - if @user.location.present?
            %div{:style => 'margin-top: 0;'}
            = sanitize(@user.location.name)
          
          - if @user.description.present?
            %div{:style => 'margin-top: 0;'}
            = sanitize(@user.description)
  
    %br
    %h3
      Collections
      - if @user == current_user
        &nbsp;
        = link_to 'Add a collection', new_collection_path, class: 'btn btn-xs btn-default'

    %dl
      - @user.collections.each do |collection|
        %dt
          = link_to sanitize(collection.name), collection, :style => 'font-weight: normal;'
        %dd{ style: 'margin-bottom: 10px;' }
          = sanitize(truncate(collection.description, length: 50))
          
    %br
    %h3
      #{atomic_unit.camelize}s
      - if @user == current_user
        &nbsp;
        = link_to "Add a #{atomic_unit}s", new_document_path, class: 'btn btn-xs btn-default'

    %dl
      - @user.collectibles.each do |collectible|
        %dt
          = link_to sanitize(collectible.document.name), collectible, :style => 'font-weight: normal;'
        %dd{ style: 'padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ccc;' }
          = sanitize(truncate(collectible.document.description, length: 50))

    %br
    %h3
      Following

    %h5 Users
    %dl
      - if @followed_users.present?
        - @followed_users.each do |followee|
          %dt
            = link_to followee.name, people_path(followee.id, followee.name.parameterize)
      - else
        %dt
          %i
            None. Follow some people, you loser.

    %h5 #{atomic_unit.camelize}s
    %dl
      - if @followed_collectibles.present?
        - @followed_collectibles.each do |collectible|
          %dt
            = link_to collectible.name, collectible
      - else
        %dt
          %i
            None. Follow some #{atomic_unit}s, you loser.

    %h5 Collections
    %dl
      - if @followed_collections.present?
        - @followed_collections.each do |collection|
          %dt
            = link_to collection.name, collection
      - else
        %dt
          %i
            None. Follow some collections, you loser.

    %br
    %h3
      Followers
    %dl
      - @user.followers(User).each do |follower|
        %dt
          = link_to follower.name, people_path(follower.id, follower.name.parameterize)
.row
  .col-md-8#comments
    %h4{ style: 'margin: 10px;'}
      %b
        Comments
    = render partial: '/comments/show', locals: { :resource => @user }
