.row
  .col-md-8
    -# .pull-right
    -#   = link_to "Dropbox", '', :class => 'btn btn-primary btn-sm', :role => 'button', :style => 'margin-top: 25px;'
    
    %h1{:style => 'margin-bottom: 5px;'}
      = @user.name
      &nbsp;

      - if @user == current_user
        = link_to 'edit', edit_user_path(current_user), class: 'btn btn-sm btn-default'
      - else
        - if current_user.follows?(@user)
          = link_to 'following', unfollow_user_path(@user), class: 'btn btn-xs btn-default btn-follow', remote: true

        - else
          = link_to 'follow', follow_user_path(@user), class: 'btn btn-sm btn-primary btn-follow', remote: true

    - if @user.locations.present?
      %div{:style => 'margin-top: 0;'}
        - @user.locations.each do |location|
          = location.name
          
    %div{:style => 'margin-top: 0;'}
      = @user.description
  

    %br
    %h3
      Collections
      - if @user == current_user
        &nbsp;
        = link_to 'Add a collection', new_collection_path, class: 'btn btn-xs btn-default'

    %dl
      - @user.collections.each do |collection|
        %dt
          = link_to collection.name, collection, :style => 'font-weight: normal;'
        %dd
          = truncate(collection.description, length: 50)
          
    %br
    %h3
      Documents
      - if @user == current_user
        &nbsp;
        = link_to 'Add a document', new_document_path, class: 'btn btn-xs btn-default'

    %dl
      - @user.documents.each do |document|
        %dt
          = link_to document.name, document, :style => 'font-weight: normal;'
        %dd
          = truncate(document.description, length: 50)

    %br
    %h3
      Following
    %dl
      - @user.followees(User).each do |followee|
        %dt
          = link_to followee.name, people_path(followee.id, followee.name.parameterize)

    %br
    %h3
      Followers
    %dl
      - @user.followers(User).each do |follower|
        %dt
          = link_to follower.name, people_path(follower.id, follower.name.parameterize)
.row
  .col-md-8#comments
    %h4{ style: 'margin: 10px;'}
      %b
        Comments
    = render partial: '/comments/show', locals: { :resource => @user }
