.row
  .col-md-8
    -# .pull-right
    -#   = link_to "Dropbox", '', :class => 'btn btn-primary btn-sm', :role => 'button', :style => 'margin-top: 25px;'
    
    %h1{:style => 'margin-bottom: 5px;'}
      = @user.name
      - if @user == current_user
        %small
          = link_to 'edit', edit_user_path(current_user), style: 'color: gray'
      
    - if @user.locations.present?
      %div{:style => 'margin-top: 0;'}
        - @user.locations.each do |location|
          = location.name
          
    %div{:style => 'margin-top: 0;'}
      = @user.description
  

    %br
    %h3
      Collections

    %dl
      - @user.collections.each do |collection|
        %dt
          = link_to collection.name, collection, :style => 'font-weight: normal;'
        %dd
          = truncate(collection.description, length: 50)
          
      %dt
        = link_to 'Add a collection', new_document_path, :style => 'font-style: italic; font-weight: normal; color: gray;'


    %br
    %h3
      Documents

    %dl
      - @user.documents.each do |document|
        %dt
          = link_to document.name, document, :style => 'font-weight: normal;'
        %dd
          = truncate(document.description, length: 50)
          
      %dt
        = link_to 'Add a document', new_document_path, :style => 'font-style: italic; font-weight: normal; color: gray;'
        
        
.row
  .col-md-8
    %br
    %h3
      %b
        Comments

    #comments
      = render partial: '/comments/show', locals: { :resource => @user }