.row
  .col-md-12

    - if signed_in?
      %h1
        Your feed
      - if @activities.present?
        %table.table
          - @activities.each do |activity|
            - if activity.owner.present?
              - actor = activity.owner
            %tr
              %td
                = activity_image_tag(activity)
              %td
                .small
                  #{distance_of_time_in_words( activity.created_at, Time.now)} ago
                = image_tag( actor.image_url, style: 'width: 20px; height: 20px;' )
                %b
                  = link_to actor.name, actor, style: 'color: #333'
                = render_activity activity

      - else
        %div
          There's nothing here! Head to the #{link_to "people page", users_path} and find some interesting people to follow.

.row
  %hr
  
  .col-md-12
    -# %h4{style: 'margin-top: 37px;'}
    -#   Recent collections
    -#   -# %small
    -#   -#  = link_to 'Add collection', new_collection_path, class: 'btn btn-default btn-xs', style: 'margin: 0 0 8px 8px;'

    -# #collections
    -#   - if @collections.present? && @collections.size > 0
    -#     - @collections.each do |collection|
    -#       = render partial: 'collections/thumb', locals: {collection: collection, creator: true}
    -#       .clearfix
          
    -# %br
    -# %br
    -# .clearfix

    %h4{style: 'margin-bottom: 20px;'}
      Recently added
      -# %small
      -#  = link_to 'Add doc', new_document_path, class: 'btn btn-default btn-xs', style: 'margin: 0 0 8px 8px;'

    - if @collectibles.present? && @collectibles.size > 0
      -# = render partial: 'documents/tiles', locals: {documents: @documents}
      - logger.debug "@collectibles.size: #{@collectibles.size}"

      = render partial: 'documents/tiles', locals: {collectibles: @collectibles}
