.row
  .col-md-6

    - if signed_in?
      %h1
        Your feed
      - if @activities.size > 0
        - @activities.each do |activity|
          - actor = activity.owner
          .activity
            - if actor.present?
              %b
                = link_to actor.name, actor, style: 'color: #333'
                
              %span
                &nbsp;&#183;&nbsp;
                = link_to actor.username, actor
                &nbsp;&#183;&nbsp;
                = link_to "#{distance_of_time_in_words( activity.created_at, Time.now)} ago", actor
            
            = render_activity activity

      - else
        %div
          There's nothing here! Head to the #{link_to "user's page", users_path} and find some interesting people to follow.


    - else
      %h1
        Share and Search Anything
        
      %p
        -#Import documents from Dropbox or upload them,
        Phaphs lets you create public collections of documents&mdash;websites, PDFs, Word docs, Excel spreadsheets, and many many more files and formats&mdash;and makes them searchable, sharable, followable, and commentable. 
      %p
        Need private search? It's cheap!
        
      %div{:style => 'margin-top: 35px; vertical-align: bottom;'}
        -# = link_to 'Sign up with Dropbox', user_omniauth_authorize_url(:dropbox_oauth2), class: 'btn btn-primary', data: { disable_with: 'Signing up...' }
        -# = link_to 'Sign up with Twitter', user_omniauth_authorize_url(:twitter), class: 'btn btn-primary', data: { disable_with: 'Signing up...' }
        = link_to "<img src='/sign-in-with-twitter-gray.png' style='width:158px; height: 28px' alt='Sign in with Twitter' />".html_safe, user_omniauth_authorize_url(:twitter)
        
        &nbsp;&nbsp;or #{link_to "signup with email", new_user_registration_path, :style => 'vertical-align: bottom;'}
        
        -# = link_to "Sign up", new_user_registration_path, class: 'btn btn-primary', data: { disable_with: 'Signing up...' }
        
    .clearfix


  .col-md-6
    %h3
      Recent collections
      -# %small
      -#  = link_to 'Add collection', new_collection_path, class: 'btn btn-default btn-xs', style: 'margin: 0 0 8px 8px;'

    #collections
      - if @collections.present? && @collections.size > 0
        - @collections.each do |collection|
          = render partial: 'collections/thumb', locals: {collection: collection, creator: true}
          .clearfix
          
    %br
    %br
    .clearfix

    %h3{style: 'margin-bottom: 20px;'}
      Recent documents
      -# %small
      -#  = link_to 'Add doc', new_document_path, class: 'btn btn-default btn-xs', style: 'margin: 0 0 8px 8px;'

    - if @documents.present? && @documents.size > 0
      = render partial: 'documents/tiles', locals: {documents: @documents}

