- if signed_in?
  %h3
    Recent collections
    %small
      = link_to 'Add collection', new_collection_path, class: 'btn btn-default btn-xs', style: 'margin: 0 0 8px 8px;'

  #collections
    - if @collections.present? && @collections.size > 0
      - @collections.each do |collection|
        = render partial: 'collections/thumb', locals: {collection: collection}

  %br
  %br
  .clearfix

  %h3{style: 'margin-bottom: 20px;'}
    Recent documents
    %small
      = link_to 'Add doc', new_document_path, class: 'btn btn-default btn-xs', style: 'margin: 0 0 8px 8px;'

  - if @documents.present? && @documents.size > 0
    = render partial: 'documents/tiles', locals: {documents: @documents}

- else
  .row
    .col-md-12

      %h1
        Phaph is Social Search
        
      %p
        -#Import documents from Dropbox or upload them,
        Upload documents, and Phaph makes them searchable by you and the world. Create collections of documents for sharing and commenting. 
      %p
        Need private search? It's cheap!
        
      %div{:style => 'margin-top: 35px; vertical-align: bottom;'}
        -# = link_to 'Sign up with Dropbox', user_omniauth_authorize_url(:dropbox_oauth2), class: 'btn btn-primary', data: { disable_with: 'Signing up...' }
        -# = link_to 'Sign up with Twitter', user_omniauth_authorize_url(:twitter), class: 'btn btn-primary', data: { disable_with: 'Signing up...' }
        = link_to "<img src='/sign-in-with-twitter-gray.png' style='width:158px; height: 28px' alt='Sign in with Twitter' />".html_safe, user_omniauth_authorize_url(:twitter)
        
        &nbsp;&nbsp;or #{link_to "signup with email", new_user_registration_path, :style => 'vertical-align: bottom;'}
        
        -# = link_to "Sign up", new_user_registration_path, class: 'btn btn-primary', data: { disable_with: 'Signing up...' }
        
    .clearfix
