
- if signed_in?

  :css
    dt { margin-top: 10px; }
    
  %h2
    Recent collections
    
  %dl
    - @collections.each do |collection|
      %dt
        = link_to collection.name, collection, :style => 'font-weight: normal;'
      %dd
        = collection.description
    %dt
      = link_to 'Create a collection', new_collection_path, :style => 'font-style: italic; font-weight: normal; color: gray;'
  
  %h2
    Recent documents
    
  %dl
    - @documents.each do |document|
      %dt
        = link_to document.name, document, :style => 'font-weight: normal;'
      %dd
        = document.description
        
    %dt
      = link_to 'Upload a document', new_document_path, :style => 'font-style: italic; font-weight: normal; color: gray;'
      
    -# %li
    -#   Connect Phaph to Dropbox, so you can import Dropbox docs
    -#
    -# %li
    -#   Search public documents
  
- else

  %h1
    Phaph is Social Search
    
  %p
    Import documents from Dropbox or upload them, and Phaph makes them searchable by you and the world. Collect documents into searchable sets for sharing and commenting. Need private search? It's cheap!
    
  %div{:style => 'margin-top: 35px; vertical-align: bottom;'}
    = link_to 'Sign up with Dropbox', user_omniauth_authorize_url(:dropbox_oauth2), class: 'btn btn-primary', data: { disable_with: 'Signing up...' }
    &nbsp;&nbsp;or #{link_to "signup with email", new_user_registration_path, :style => 'vertical-align: bottom;'}
    
.clearfix

%br

  -# %h5
  -#   Benefits
  -#
  -# %ul
  -#   %li
  -#     You should be able to find your data in Dropbox and get it out—it shouldn't be a Roach Motel.