- if signed_in?
  %h3
    Recent collections
    %small
      = link_to 'new', new_collection_path

  .row
    .col-md-12
      - @collections.each do |collection|
        <a href="#{url_for(collection)}">
        %div{ style: 'background-color: white; width: 180px'}
          - collection.documents[0..3].each_with_index do |document,i|
            = image_tag "#{document.file_location}_75.gif", style: 'margin: 5px;'
            = "<br />".html_safe if (i+1) % 2 == 0
        </a>

  %br
  %br
  .clearfix

  %h3{style: 'margin-bottom: 20px;'}
    Recent documents
    %small
      = link_to 'new', new_document_path, class: 'btn btn-default btn-sm'

  #docs
    - @documents.each do |document|
      .item
        <a href="#{url_for(document)}">
        - if document.url.present?
          = image_tag "#{document.file_location}_225.gif"
        .txt
          .small
            = document.name
          - if document.description.present?
            .small
              %i
                = truncate(document.description, length: 50)
        </a>

  :javascript
    var container = document.querySelector('#docs');
    var msnry = new Masonry( container, {
      itemSelector: '.item'
    });
    imagesLoaded( container, function() {
      msnry.layout();
    })

    // initialize Masonry after all images have loaded  
    //container.imagesLoaded( function() {
    //  container.masonry({
    //    columnWidth: 200,
    //    itemSelector: '.item'
    //  });
    //});

- else
  .row
    .col-md-12

      %h1
        Phaph is Social Search
        
      %p
        -#Import documents from Dropbox or upload them,
        Upload documents, and Phaph makes them searchable by you and the world. Create collections of documents for sharing and commenting. 
      %p
        Need private search? It's cheap!
        
      %div{:style => 'margin-top: 35px; vertical-align: bottom;'}
        -# = link_to 'Sign up with Dropbox', user_omniauth_authorize_url(:dropbox_oauth2), class: 'btn btn-primary', data: { disable_with: 'Signing up...' }
        -# = link_to 'Sign up with Twitter', user_omniauth_authorize_url(:twitter), class: 'btn btn-primary', data: { disable_with: 'Signing up...' }
        = link_to "<img src='/sign-in-with-twitter-gray.png' style='width:158px; height: 28px' alt='Sign in with Twitter' />".html_safe, user_omniauth_authorize_url(:twitter)
        
        &nbsp;&nbsp;or #{link_to "signup with email", new_user_registration_path, :style => 'vertical-align: bottom;'}
        
        -# = link_to "Sign up", new_user_registration_path, class: 'btn btn-primary', data: { disable_with: 'Signing up...' }
        
    .clearfix
