%tr
  %td
    %b
      = link_to resource.name, "#{polymorphic_path(resource)}/#{resource.name.parameterize}"
      
      -# = link_to resource.name, slugged_resource_path(resource.id, resource.name.parameterize)
  %td{:style => 'text-align: right;'}
    #{link_to 'Edit', edit_polymorphic_path(resource)} &nbsp;&#183;&nbsp; #{link_to 'Destroy', resource, :method => :delete, :data => { :confirm => 'Are you certain?' }}