= form_for @document, :role => 'form', :html => {:multipart => true, :class => 'form-horizontal'} do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this paper from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg
  %br
  
  .form-group
    .col-sm-7
      Add to collection:

      - if @collection.present?

        - if @collection.public?

          -# collection, public, belongs to user = form, collection selected
          - if @collection.owned_by?(current_user)
            = f.label :collection_id, :class => 'sr-only'
            = f.select :collection_id, options_from_collection_for_select(current_user.collections, 'id', 'name', @collection.id), :class => 'form-control'

          - else
            -# collection, public, doesn't belong to user = no form
            = f.hidden_field :collection_id
            %h4{style: 'margin: 0;'}
              = @collection.name
        
        - elsif @collection.owned_by?(current_user)
          %br
          -# private collection, owned by user = form, collection selected
          = f.label :collection_id, :class => 'sr-only'
          = f.select :collection_id, options_from_collection_for_select(current_user.collections, 'id', 'name', @collection.id), :class => 'form-control'

          -# controller has a check for private collections no owned by user, shouldn't get here
      - else

        - if current_user.collections.present?
          -# no collection, user has collections = form, nothing selected
          = f.label :collection_id, :class => 'sr-only'
          = f.select :collection_id, options_from_collection_for_select(current_user.collections, 'id', 'name'), :class => 'form-control'

        - else
          -# no collection, no user collections, create default or let create new
          %h4{style: 'margin: 0 0 5px 0;'}
            #{current_user.name}'s documents
          -# This should happen inline
          (or #{link_to 'create a new collection', new_collection_path})

  %br
  - unless action_name == 'edit'
    .form-group
      .col-sm-7
        = f.label :file, :class => 'sr-only'
        = f.file_field :file, class: 'form-control'
        = f.hidden_field :file_cache
  
        %br
        &mdash; OR &mdash;

  .form-group
    .col-sm-7
      = f.label :url, :class => 'sr-only'
      = f.text_field :url, class: 'form-control', placeholder: 'URL'

  %hr
    
  .form-group
    .col-sm-7
      = f.label :name, :class => 'sr-only'
      = f.text_field :name, class: 'form-control', placeholder: 'Name', required: true
      
  .form-group
    .col-sm-7
      = f.label :description, :class => 'sr-only'
      = f.text_area :description, class: 'form-control', placeholder: 'Description'
  
  .form-group
    .col-sm-7
      = f.label :source, :class => 'sr-only'
      = f.text_field :source, class: 'form-control', placeholder: 'Source'
      
  -# .form-group
  -#   .col-sm-7
  -#     = f.label :journal, :class => 'sr-only'
  -#     = f.text_field :journal, class: 'form-control', placeholder: 'Journal'
  -#
  .form-group
    .col-sm-7
      = f.label :principle_authors, :class => 'sr-only'
      = f.text_area :principle_authors, class: 'form-control', placeholder: 'Author(s)'

  .form-group
    .col-sm-7
      = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }
