= form_for @document, :role => 'form', :html => {:multipart => true, :class => 'form-horizontal'} do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this paper from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg
          
  .row
    .form-group
      .col-sm-7
        %div{ style: 'margin: 10px' }
          - unless action_name == 'edit'
            Collection:
        
          -# collection_id, user collections, match
          - if @document.collection.present?

            - if @document.collection.public?
              -# collection_id, public, doesn't belong to user = no form
              - if !@document.collection.owned_by?(current_user)
                = f.hidden_field :collection_id
                = @document.collection.name

          - else

            -# no collection_id, user collections = form, nothing selected
            - if current_user.collections.present?
              = f.label :collection_id, :class => 'sr-only'
              = f.select :collection_id, options_from_collection_for_select(current_user.collections, 'id', 'name'), :class => 'form-control'

              -# no collection_id, no user collections, create default
            - else
              #{current_user.name}'s documents
              &nbsp;
              -# This should happen inline
              (or #{link_to 'create a new collection', new_collection_path})

            -# = f.label :collection_id, :class => 'sr-only'
            -#= f.select :collection_id, options_from_collection_for_select(current_user.collections, 'id', 'name'), :class => 'form-control'


          -# - if @document.collection_id.blank? || (@document.collection.user == current_user)
            = f.label :collection_id, :class => 'sr-only'
            = f.select :collection_id, options_from_collection_for_select(current_user.collections, 'id', 'name', @document.collection_id), :class => 'form-control'

          
  - unless action_name == 'edit'
    -# .form-group
      .col-sm-7
        = f.label :file, :class => 'sr-only'
        = f.file_field :file, class: 'form-control'
        = f.hidden_field :file_cache
  
        %br
        &mdash; OR &mdash;

    .form-group
      .col-sm-7
        = f.label :url, :class => 'sr-only'
        = f.text_field :url, class: 'form-control', placeholder: 'URL', required: true

  .form-group
    .col-sm-7
      = f.label :name, :class => 'sr-only'
      = f.text_field :name, class: 'form-control', placeholder: 'Name', required: true
      
  .form-group
    .col-sm-7
      = f.label :description, :class => 'sr-only'
      = f.text_area :description, class: 'form-control', placeholder: 'Description'
  
  -# .more{style: 'margin-bottom: 20px;'}
  -#  = link_to 'show more fields', '#', onclick: "$('.more').fadeToggle();"
  -#  
  -#.form-group.more{style: 'display: none;'}
  -#  .col-sm-7
  -#    = f.label :source, :class => 'sr-only'
  -#    = f.text_field :source, class: 'form-control', placeholder: 'Source'
  -#    
  -#.form-group.more{style: 'display: none;'}
  -#  .col-sm-7
  -#    = f.label :principle_authors, :class => 'sr-only'
  -#    = f.text_area :principle_authors, class: 'form-control', placeholder: 'Author(s)'

  .form-group
    .col-sm-7
      = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }