#docs
  - collectibles.each do |collectible|
    - document = collectible.document
    .item
      -# %a{ href: "#{document_path(document)}" }
      %a{ href: "#{collectible_path(collectible)}" }
        %img.pic.top{ src: "#{Document::FQDN}#{document.thumb_md}", alt: "thumbnail of #{document.name}"}
        .txt
          
          .small
            = sanitize(document.name)

            .clearfix
            - if controller_name != 'collections' && col = document.collection 
              In
              %i
                = link_to col.name, slugged_collection_path(col, col.name.parameterize)

            .notification-icons
              - if collectible.comment_threads.size > 0
                %span.glyphicon.glyphicon-comment
                %span.badge{ style: 'font-size: 9px; opacity: 0.5;'}
                  = collectible.comment_threads.size

              - if collectible.followers(User).size > 0
                &nbsp;
                %span.glyphpro.glyphpro-shoe_steps
                %span.badge{ style: 'font-size: 9px; opacity: 0.5;'}
                  = collectible.followers(User).size
                  
            -# %div
            -#   badges for shares, likes

:javascript
  var container = document.querySelector('#docs');
  var msnry = new Masonry( container, {
    itemSelector: '.item'
  });
  imagesLoaded( container, function() {
    msnry.layout();
  })
