#docs
  - documents.each do |document|
    .item
      %a{ href: "#{slugged_document_path(document.id, document.name.parameterize)}" }
        %img{ src: "#{Document::FQDN}#{document.thumb_md}", alt: "thumbnail of #{document.name}", class: 'top'}
        .txt
          
          .small
            = sanitize(document.name)

            -# .pull-right
            -#   #{document.created_at.strftime("%b %-d, %Y")}

            .clearfix
            - if col = document.collection
              In
              %i
                = link_to col.name, slugged_collection_path(col, col.name.parameterize)

              .notification-icons
                - if document.comment_threads.size > 0
                  %span.glyphicon.glyphicon-comment
                  %span.badge{ style: 'font-size: 9px; opacity: 0.5;'}
                    = document.comment_threads.size

                - if document.followers(User).size > 0
                  &nbsp;
                  %span.glyphpro.glyphpro-shoe_steps
                  %span.badge{ style: 'font-size: 9px; opacity: 0.5;'}
                    = document.followers(User).size
                    
              %div
                badges for shares, likes

:javascript
  var container = document.querySelector('#docs');
  var msnry = new Masonry( container, {
    itemSelector: '.item'
  });
  imagesLoaded( container, function() {
    msnry.layout();
  })
