#docs
  - documents.each do |document|
    .item
      %a{ href: "#{slugged_document_path(document.id, document.name.parameterize)}" }
        %img{ src: "/#{document.thumb_md}", alt: "thumbnail of #{document.name}", class: 'top'}
          
      .txt
        
        .small
          = document.name

          .pull-right
            #{document.created_at.strftime("%b %-d, %Y")}

          .clearfix
          - if col = document.collections.first
            In
            %i
              = link_to col.name, slugged_collection_path(col, col.name.parameterize)

            - if document.root_comments.size > 0
              .notification-icon
                %span.glyphicon.glyphicon-comment
                %span.badge{ style: 'font-size: 9px; opacity: 0.5;'}
                  = document.root_comments.size

:javascript
  var container = document.querySelector('#docs');
  var msnry = new Masonry( container, {
    itemSelector: '.item'
  });
  imagesLoaded( container, function() {
    msnry.layout();
  })
