= render :partial => 'shared/search'

.col-sm-7
  .clearfix
  %hr
  .clearfix

.col-sm-7
  - if params[:q].present?
    %div
      Results for
    %h2{:style => 'margin-top: 0;'}
      = params[:q]
    
  - else
    .pull-right
      = link_to "New #{@model}", new_polymorphic_path(@model), :class => 'btn btn-primary btn-sm', :role => 'button', :style => 'margin-top: 25px;'
    
    %h1
      = @model.to_s.pluralize(0)

.clearfix

.col-sm-7
  %br
  %table.table.table-hover
  
    - if @resources.present?
      - @resources.each do |result|
        -# %li
        -#   = link_to result.name, slugged_document_path(result.id, result.name.parameterize)
        = render :partial => 'documents/document', :locals => {:resource => result}
    - else
      %li
        %i
          No results :-(
          
