.row
  .col-md-8
    %h2
      Your #{atomic_unit}s
      %small
        = link_to 'New', new_document_path, {:style => 'color: #b3b3b3; margin: 20px; 0 0 0;'}
        
    %table.table.table-hover

      - if @resources.present?
        - @resources.each do |result|
          = render :partial => 'documents/document', :locals => {:resource => result}
      - else
        %tr
          %td{ colspan: 2 }
            No documents, yet. #{link_to 'Upload one', new_document_path}

    - if @resources
      = will_paginate @resources, renderer: BootstrapPagination::Rails, :next_label => 'Next &raquo;', :previous_label => '&laquo;'
