%p#notice= notice

%p
  %b Name:
  = @document.name
-#
-# %p
-#   %b File:
-#   = link_to "Download", @document.original.url
-#
%p
  %b Description:
  = @document.description
%p
  %b Source:
  = @document.source
%p
  %b Journal:
  = @document.journal
%p
  %b Published at:
  = @document.published_at
%p
  %b Principle authors:
  = @document.principle_authors
%p
  %b Other authors:
  = @document.other_authors
%p
  %b Rights:
  = @document.rights
%p
  %b Creator:
  = @document.creator_id
%p
  %b Lab:
  = @document.lab_id
%p
  %b Grant:
  = @document.grant_id
%p
  %b State:
  = @document.state

= link_to 'Edit', edit_document_path(@document)
\|
= link_to 'Back', documents_path
