.col-sm-7

  %div
    = image_tag @document.file.thumb.url
  %h1
    = @document.name

  - if @document.principle_authors.present? || @document.other_authors.present?
    %div
      by
      - if @document.principle_authors.present?
        %b
          = [@document.principle_authors, @document.other_authors].compact.join( ', ')
  
  - if @document.journal.present?
    %div
      in
      = @document.journal

  - if @document.description.present?
    %div{:style => 'margin-top: 20px;'}
      = @document.description
      
  %div{:style => 'margin-top: 20px;'}
    = link_to "Download", @document.file.url, target: '_blank', class: 'btn btn-primary'
    
    - if @document.service.present? && @document.service.downcase == 'dropbox'
      &#183;
      = link_to "View on dropbox", dropbox_url(@document.service_path), target: '_blank', class: 'btn btn-primary'
    
