-# :javascript
  -# http://www.html5rocks.com/en/tutorials/websockets/basics/
  
  var connection = new WebSocket('wss://echo.websocket.org', ['soap', 'xmpp']);

  // When the connection is open, send some data to the server
  connection.onopen = function () {
    connection.send('Ping'); // Send the message 'Ping' to the server
  };

  // Log errors
  connection.onerror = function (error) {
    console.log('WebSocket Error ' + error);
  };

  // Log messages from the server
  connection.onmessage = function (e) {
    console.log('Server: ' + e.data);
  };


.row.top
  .col-sm-6.col-md-6
    %img.doc-image{ src: "#{Document::FQDN}#{@document.thumb_lg}", alt: "thumbnail of #{@document.name}"}

  .col-sm-6.col-md-6

    - if @collection
      .small
        From the collection
      .small
        -# #{ link_to @collection.name, slugged_collection_path(@collection, @collection.name.parameterize) }:
        #{ link_to @collection.name, collection_path(@collection) }
      %h2
        = sanitize(@document.name)

    .small
      Added #{@document.created_at.strftime("%b %-d, %Y")} by #{link_to @document.user.name, people_path(@document.user, @document.user.name.parameterize)}

      - if @document.user == current_user
        &nbsp;&nbsp;&#183;&nbsp;&nbsp;

        = link_to 'edit', edit_document_path(@document.id)
        &nbsp;&nbsp;&#183;&nbsp;&nbsp;

        = link_to 'delete', document_path(@document.id), method: :delete, data: { confirm: "You're sure? Can't be undone."}

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    - if @document.principle_authors.present? || @document.other_authors.present?
      %div
        by
        - if @document.principle_authors.present?
          %b
            = [@document.principle_authors, @document.other_authors].compact.join( ', ')

    %div{ style: 'margin: 10px 0 20px 0px; padding: 0;'}
      - unless @collection && @collection.user == current_user
        = follow_link( model: @document )
        &nbsp;

      = link_to '<span class="tip glyphpro glyphpro-eye_open"></span> &nbsp;view on web'.html_safe, @document.url, class: 'btn btn-xs btn-default', target: '_blank'
      &nbsp;

      = link_to '<span class="tip glyphpro glyphpro-binoculars"></span> &nbsp;view archive'.html_safe, "/#{@document.archive_path}/#{@document.slug}/index.html", class: 'btn btn-xs btn-default', target: '_blank'
      &nbsp;

      = link_to '<span class="tip glyphpro glyphpro-disk_save"></span> &nbsp;download'.html_safe, "#{@document.file_location}", class: 'btn btn-xs btn-default', target: '_blank'
      &nbsp;

      -# - if @document.user == current_user
      -#   = link_to '<span class="tip glyphpro glyphpro-pencil"></span> &nbsp;edit'.html_safe, edit_document_path(@document.id), class: 'btn btn-xs btn-default'
      -#   &nbsp;

      -#   = link_to '<span class="tip glyphicon glyphicon-trash"></span> &nbsp;delete'.html_safe, document_path(@document.id), method: :delete, data: { confirm: "You're sure? Can't be undone."}, class: 'btn btn-xs btn-default'


    - if @document.description.present?
      %div{:style => 'margin-top: 20px; border: 0px solid blue;'}
        = sanitize(@document.description)

.row
  .col-md-12#comments
    %h4{ style: 'margin-left: 15px;'}
      %b
        Comments
  
    = render partial: '/comments/show', locals: { :resource => @document }
