.row
  .col-md-6
    %img{ src: "https://phaph.s3.amazonaws.com/#{@document.thumb_lg}", style: "border: 1px solid #ddd;", alt: "thumbnail of #{@document.name}"}

  .col-md-6
    .small
      In #{ link_to @collection.name, slugged_collection_path(@collection, @collection.name.parameterize) }:
    %h3{ style: 'margin: 5px 0 10px 0;'}
      = @document.name
      
      - unless @collection.user == current_user
        - if current_user.follows?(@document)
          = link_to 'following', unfollow_document_path(@document), class: 'btn btn-sm btn-primary btn-follow', remote: true
        - else
          = link_to 'follow', follow_document_path(@document), class: 'btn btn-sm btn-primary btn-follow', remote: true

    .small
      Added #{@document.created_at.strftime("%b %-d, %Y")} by #{link_to @document.user.name, @document.user}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      - if @document.user == current_user
        = link_to 'edit', edit_document_path(@document), class: 'btn btn-xs btn-primary'
        &nbsp;&nbsp;&#183;&nbsp;&nbsp;
        = link_to 'delete', document_path(@document), method: :delete, data: { confirm: "You're sure? Can't be undone."}, class: 'btn btn-xs btn-primary'

    - if @document.principle_authors.present? || @document.other_authors.present?
      %div
        by
        - if @document.principle_authors.present?
          %b
            = [@document.principle_authors, @document.other_authors].compact.join( ', ')

    - if @document.description.present?
      %div{:style => 'margin-top: 20px;'}
        = @document.description   
        
.row
  .col-md-12#comments
    %h4{ style: 'margin-left: 15px;'}
      %b
        Comments
  
    = render partial: '/comments/show', locals: { :resource => @document }
