%h5
  %b Name
%div
  = @document.name

%h5
  %b File
%div
  = link_to "Download", @document.file_url, target: '_blank'

%h5
  %b Description
%div
  = @document.description

%h5
  %b Source:
  = @document.source

%h5
  %b Journal:
  = @document.journal

%h5
  %b Published at:
  = @document.published_at

%h5
  %b Principle authors:
  = @document.principle_authors

%h5
  %b Other authors:
  = @document.other_authors

%h5
  %b Rights:
  = @document.rights

%h5
  %b Creator:
  = @document.user_id

%h5
  %b Lab:
  = @document.lab_id

%h5
  %b Grant:
  = @document.grant_id
%h5
  %b State:
  = @document.state

= link_to 'Edit', edit_document_path(@document)
