:css
  em { text-style: normal; font-weight: bold; }
  td { }
  .img { margin: 0 30px 20px 0;}

.row.top
  .col-md-12
    
    - if params[:q].present?
      -# #{number_with_delimiter(@resources.results.size)} #{'result'.pluralize(@resources.results.size)}
      results for
      %h2{:style => 'margin-top: 0;'}
        = sanitize(params[:q])
  
.row
  .col-md-12
    %table.table
      - if @resources.present?
        - @resources.each do |result|
          -# %div{:style => 'margin-bottom: 30px'}
          %tr
            -# .pull-left.img
            %td{style: 'width: 100px;'}
              = image_tag result.thumb_sm
            %td
              %h3{style: 'margin-top: 0;'}
                -# = link_to result.name, "#{document_path(result.id)}/#{result.name.parameterize}"
                = result.name
              = render partial: 'documents/details', locals:{document: result} 

              - if result.respond_to?( :highlight )
                %div{ :style => 'margin-top: 5px'}
                  #{result.highlight.attachment.first.html_safe}&hellip;
              
              %div
                Collected by:
                - result.collectibles.each do |c|
                  %div
                    = link_to c.user.name, people_path(c.user, c.user.name.parameterize)
                    in
                    = link_to c.collection.name, slugged_collection_path(c.collection, c.collection.name.parameterize)
              
      - else
        %tr
          %td{ colspan: 2 }
            No results :-(
        
  - if @resources
    = will_paginate @resources, renderer: BootstrapPagination::Rails, :next_label => 'Next &raquo;', :previous_label => '&laquo;'
    