:css
  h5 { margin: 15px 0 0 0;}

%h1{:style => 'margin-bottom: 5px;'}
  = @grant.name
  
%div{:style => 'margin-top: 0;'}
  = @grant.description

%h5
  %b Owner
%div
  = link_to @grant.creator.name, people_path( @grant.creator.id, @grant.creator.name.parameterize )
  
%h5
  %b Lab
%div
  = link_to @grant.lab.name, slugged_lab_path( @grant.lab.id, @grant.lab.name.parameterize )
  
%h5
  %b
    Source
%div
  = @grant.source

%h5
  %b Amount
%div
  = @grant.amount

%h5
  %b Overhead
%div
  = @grant.overhead

%h5
  %b State:
%div
  = @grant.state
