= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    -# = f.text_field :name
    = f.text_field :name, class: 'form-control', placeholder: 'Category name', autofocus: true
    
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :creator_id
    = f.number_field :creator_id
  .field
    = f.label :lab_id
    = f.number_field :lab_id
  .field
    = f.label :grant_id
    = f.number_field :grant_id
  .field
    = f.label :state
    = f.text_field :state
  .actions
    = f.submit 'Save'
