:css
  h5 { margin: 15px 0 0 0;}


%div{:style => 'margin-bottom: 0;'}
  Category

%h1{:style => 'margin-bottom: 5px;'}
  = @category.name
  
%div{:style => 'margin-top: 0;'}
  = @category.description
  
%h5
  Creator
%div
  = link_to @category.creator.name, people_path( @category.creator.id, @category.creator.name.parameterize )

%h5
  Lab
%div
  = link_to @category.lab.name, slugged_lab_path( @category.lab.id, @category.lab.name.parameterize )

%h5
  Grant:
%div
  = @category.grant.name

%h5
  State:
%div
  = @category.state

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
