= form_for @lab, :role => 'form', :html => {:class => 'form-horizontal'} do |f|
  - if @lab.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lab.errors.count, "error")} prohibited this lab from being saved:"
      %ul
        - @lab.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :creator_id
  
  .form-group
    .col-sm-7
      = f.label :name, :class => 'sr-only'
      = f.text_field :name, autofocus: true, class: 'form-control', style: "width: 400px;", :placeholder => 'Lab name'
      
  .form-group
    .col-sm-7
      = f.label :description, :class => 'sr-only'
      = f.text_area :description, class: 'form-control', style: 'width:400px; height:200px;'
      
  .form-group
    .col-sm-7
      State:
      = f.label :state, :class => 'sr-only'
      = f.select :state, options_for_select([['active', 'active'], ['inactive', 'inactive']], @lab.state), :class => 'form-control'
      
  .form-group
    .col-sm-7
      = f.submit 'Save', :class => 'btn btn-primary'