%h1 Listing locations

%table
  %tr
    %th Name
    %th Latitude
    %th Longitude
    %th City
    %th State
    %th Country
    %th
    %th
    %th

  - @locations.each do |location|
    %tr
      %td= location.name
      %td= location.latitude
      %td= location.longitude
      %td= location.city
      %td= location.state
      %td= location.country
      %td= link_to 'Show', location
      %td= link_to 'Edit', edit_location_path(location)
      %td= link_to 'Destroy', location, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Location', new_location_path
