%p#notice= notice

%p
  %b Name:
  = @location.name
%p
  %b Latitude:
  = @location.latitude
%p
  %b Longitude:
  = @location.longitude
%p
  %b City:
  = @location.city
%p
  %b State:
  = @location.state
%p
  %b Country:
  = @location.country

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
