!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    
    %meta{:name => 'viewport', :content => 'initial-scale=1.0, width=device-width'}
    %meta{:name => 'description', :content => 'Phaph: holds your science.'}
    %meta{:name => 'author', :content => 'John McGrath'}
    %meta{:content => "Phaph", :property => "og:title"}
    %meta{:content => "Phap. For science!", :property => "og:description"}
    %meta{:content => "//phaph.png", :property => "og:image"}
    %meta{:content => "//www.phaph.com", :property => "og:url"}
    
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    
    %title= (Rails.env == 'development' ? '[DEV] ' : '') + (@title ? @title : 'Phaph')
    
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
    -# = stylesheet_link_tag 'http://bootswatch.com/readable/bootstrap.min.css'
    

    -# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    
    -# = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/fonts/glyphicons-halflings-regular.svg'
    -# = stylesheet_link_tag 'glyphicons-halflings.svg'

    -# https://gist.github.com/Jelby-John/cf462ab5baa1bba6ea6f
    = stylesheet_link_tag 'glyphicons.pro.css'
    = stylesheet_link_tag 'glyphicons.pro.css'

    -# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    <!--[if lt IE 9]>
    = javascript_include_tag '//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'
    = javascript_include_tag '//oss.maxcdn.com/respond/1.4.2/respond.min.js'
    <![endif]-->
    
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'

    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js'
    
    = csrf_meta_tags
    
  %body{:role => 'document'}
    
    .navbar.navbar-inverse.navbar-static-top{:role => 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{:type => 'button', :'data-toggle' => 'collapse', :'data-target' => '.navbar-collapse'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'phaph', root_path, class: 'navbar-brand', style: 'color: white;'
          
        .navbar-collapse.collapse
          
          = form_tag( search_path('run'), :method => :get, :class => 'navbar-form navbar-left navbar-input-group form-inline search-form', :role => 'search') do
            .input-group
              = text_field_tag 'q', params[:q].present? ? params[:q] : '', :class => :'form-control', :placeholder => 'Search', :'x-webkit-speech' => :'x-webkit-speech'
              
              .input-group-btn
                %button.btn.btn-default.dropdown-toggle.all-or-yours{:'data-toggle' => 'dropdown'}
                  = (@scope == 'yours') ? 'Yours' : 'All'
                  <span class="caret"></span>
                %ul.dropdown-menu
                  %li.all-or-yours-not-selected{ style: 'padding: 6px 12px'}
                    = (@scope == 'yours') ? 'All' : 'Yours'
                <input type="hidden" name="search_scope" class="search_scope" value="#{@scope}">
                    
              %span.input-group-btn
                %button.btn.btn-default{type: 'submit'}
                  %span.glyphicon.glyphicon-search
          
          %ul.nav.navbar-nav
            %li
            
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                = link_to '<span class="tip glyphicon glyphicon-folder-open" data-toggle="tooltip" data-placement="bottom" title="Your collections"></span>'.html_safe, collections_user_path(current_user)
              %li
                = link_to '<span class="tip glyphpro glyphpro-sort" data-toggle="tooltip" data-placement="bottom" title="Your documents"></span>'.html_safe, documents_user_path(current_user)
              %li
                = link_to '<span class="tip glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Upload document""></span>'.html_safe, new_document_path
              
              %li.dropdown
                %a.dropdown-toggle{:'data-toggle' => 'dropdown'}
                  <span class="glyphicon glyphicon-user"></span>
                  %span.caret
                %ul.dropdown-menu{:role => 'menu'}
                  %li
                    = link_to "<small style='font-weight: normal;'>you are</small><br />#{current_user.name}".html_safe, people_path(current_user.id, current_user.name.parameterize), style: 'font-weight: bold;'
                  %li
                    = link_to "Sign out", destroy_user_session_path, :method => :delete
              
            - else
              %li
                = link_to "Sign in", new_user_session_path
              %li
                = link_to "Sign up", new_user_registration_path
                
    .container
      
      - if flash[:notice]
        #notice.alert.alert-success.alert-dismissable
          = flash[:notice].html_safe
          <button type="button" class="close" data-dismiss='alert'><span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
          </button>

      - if flash[:error]
        #notice.alert.alert-error.alert-dismissable
          = flash[:error].html_safe
          <button type="button" class="close" data-dismiss='alert'><span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
          </button>

      - if flash[:alert]
        #notice.alert.alert-warning.alert-dismissable
          = flash[:alert].html_safe
          <button type="button" class="close" data-dismiss='alert'><span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
          </button>

      -# %hr
      -#   signed in?
        %b
          = signed_in?
        %hr

      = yield
      
    :javascript
      $('.tip').tooltip();